* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Mobile Font', sans-serif;                              
}

.container {
    width: 100vw;
    height: 100vh;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.content {    
    position: relative;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

h1 {
    position: absolute;
    font-size: 25px;
    top: 10px;
}

#form_content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form_content div {
    width: 95%;
    margin-bottom: 15px;
}

.form-select #donBay{
    width: 100%;
}

label {
    font-size: 18px;
}

select {
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    border: 1px solid brown;
}

select:focus,
input:focus {
    border: 2px solid rgb(10, 126, 180);
}

.form-input {
    display: flex;
    flex-direction: column;
}

input {
    width: 100% ;
    padding: 10px;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: 1px solid brown;
}

button {
    width: 80%;
    height: 50px;
    margin-top: 10px;
    border-radius: 10px;
    outline: none;
    border: 2px solid ;
    background-color: rgb(13, 164, 79) ;
    color: azure;
    font-size: 20px;
}

button:hover {
    background-color: seagreen;
    cursor: pointer;
}

#form-submit {
    width: 70%;
    margin-top: 5px;
    display: block;
}

.form-output {
    margin-top: 20px;
    font-size: 18px;
    pointer-events: none;
}





